@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --blue: #2c2c6c;
  --blue-light: #dedef8;
  --blue-light-2: #ffffff;
  --blue-light-1: #54549c;
  --black: #242424;
  --black-1: #575757;
  --red-1: #c94f74;
  --shadow-1: 0px 2px 15px rgba(0, 0, 0, 0.1);
  --shadow-2: 0 0 20px rgba(0, 0, 0, 0.5);
}
body {
  overflow-x: hidden;
  background-color: var(--blue-light-2);
}
a {
  text-decoration: none;
}
h3 {
  padding: 1rem;
}
.rating span {
  font-size: 0.85rem;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-light-1);
  cursor: pointer;
}

.toastify {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--black);
}

/* header  */
.navbar-brand {
  text-transform: capitalize;
  font-family: "Pacifico", cursive;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  color: var(--blue);
  transition: 500ms;
  margin: 0;
  padding: 0;
}
.navbar-brand:hover {
  color: var(--black);
}
.nav-item .nav-link,
.nav-item .nav-link:focus {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-item .nav-link:hover {
  color: var(--black);
  background-color: var(--blue-light);
  border-radius: 5px;
}
.nav-item .nav-link .nav-icon {
  display: flex;
  align-items: center;
  position: relative;
}
.count {
  background: var(--red);
  padding: 6px;
  color: var(--white);
  border-radius: 50%;
  font-size: 0.7rem;
  position: absolute;
  height: 17px;
  width: 17px;
  top: -5px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
button.navbar-toggler {
  margin: 0;
  padding: 0;
}
button.navbar-toggler:focus,
button.navbar-toggler:active,
button.navbar-toggler-icon:focus {
  outline: 1.5px solid var(--blue);
  box-shadow: none;
}
.navbar--icon {
  font-size: 1.8rem;
  padding: 0;
  font-weight: bolder;
  color: var(--blue);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item.dropdown .dropdown-menu {
  border: 0 !important;
  padding: 0.6rem !important;
  border-top: 2px solid var(--blue) !important;
  border-bottom: 2px solid var(--blue) !important;
  margin-top: 6px !important;
}
.dropdown-menu .dropdown-item.auth {
  background-color: var(--blue);
  border: 1.5px solid var(--blue);
  box-shadow: var(--shadow-1);
  color: var(--white);
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.dropdown-menu .dropdown-item {
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0;
  transition: 500ms;
}

.dropdown-menu .dropdown-item.auth:hover {
  color: var(--white);
  background-color: var(--blue-light-1);
  border: 1.5px solid var(--blue-light-1);
}

.dropdown-menu .dropdown-item:hover {
  color: var(--black);
  background-color: var(--blue-light);
}

/* mobile cart and wishlist display  */
.mobile-nav {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav-item .nav-link,
  .nav-item .nav-link:focus {
    margin: 1rem 0;
    padding: 0.7rem 0;
  }
  .mobile-nav {
    display: inline-block;
    font-size: 0.95rem;
  }
  .mobile-nav .mobile-cart,
  .mobile-nav .mobile-wish {
    text-decoration: none;
    margin: 0 10px;
    color: var(--blue);
    position: relative;
    transition: 500ms;
  }
  .mobile-nav .mobile-count {
    position: absolute;
    top: -3px;
    right: -5px;
    background-color: var(--red);
    padding: 0;
    font-size: 0.6rem;
    color: var(--white);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 13px;
    width: 13px;
    z-index: 1;
  }
}

/* carousel  */
ol.carousel-indicators {
  position: absolute;
  bottom: -30px;
  display: flex;
  height: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

/* ol.carousel-indicators li, */
ol.carousel-indicators li {
  width: 15px;
  height: 8px;
  margin: 0 5px;
  border-radius: 2px;
  border: 0;
  background: var(--red);
  box-shadow: var(--shadow-1);
}

ol.carousel-indicators li.active {
  background: var(--blue-light);
}
/* carousel ends  */
/* search box  */
.searchform {
  position: relative;
  background-color: var(--blue);
  box-shadow: var(--shadow-1);
  padding: 10px;
  border-radius: 5px;
}
.searchform p {
  color: var(--white);
  font-family: "Pacifico", cursive;
}

.searchtext {
  position: relative;
  border-radius: 5px;
  width: 100%;
  font-size: 0.85rem;
  padding: 5px 1rem;
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
  box-shadow: var(--shadow-1);
}
.searchtext:focus {
  border: 1px solid var(--red-1);
  outline: 1px solid var(--red-1);
}
.searchbutton {
  position: absolute;
  right: 3.5px;
  background-color: transparent;
  border: 0;
  right: 11px;
  padding: 3px 10px;
  color: var(--blue);
  font-size: 0.9rem;
}
.searchbutton:hover {
  color: var(--blue-light-1);
}

/* homescreen  */
.category-box {
  max-height: 336px;
  overflow-y: scroll;
}

.category-box::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.category-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
.category-box::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
}

/* Handle on hover */
.category-box::-webkit-scrollbar-thumb:hover {
  background: var(--blue-light-1);
  cursor: pointer;
}

.category-box h5 {
  border-bottom: 1px solid var(--blue-light-1);
  padding-bottom: 4px;
  font-weight: 600;
  color: var(--blue);
  letter-spacing: 0;
  text-transform: capitalize;
  font-size: 1rem;
}

.category-box p {
  margin: 2px 0;
  padding: 2px 0;
  font-size: 0.8rem;
  color: var(--black-1);
  letter-spacing: 0px !important;
}

.category-box p a {
  text-decoration: none;
  color: var(--black-1);
  font-weight: 400;
  display: flex;
  padding: 1.5px 2px;
  align-items: center;
}
.category-box p a:hover {
  color: var(--black);
  background-color: var(--blue-light);
}
/* swiper  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 15%;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.3;
  padding: 3px;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid var(--blue-light);
  background-color: var(--blue-light);
  border-radius: 4px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* swiper  */

/* section header  */
.section {
  background: url("./images/bg/sectionheader-bg.svg") no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow-1);
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.section_header {
  color: var(--blue);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.section_desc {
  color: var(--black-1);
  font-size: 0.9rem;
  padding: 2px 0;
  margin: 0;
}
/* section header  */
/* page header  */
.pageheader {
  background: url("./images/bg/pageheader-bg.svg") no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow-1);
  padding: 10px;
  border-radius: 5px;
}
.pageheader .header {
  color: var(--white);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.pageheader .desc {
  color: var(--black-1);
  font-size: 0.9rem;
  padding: 2px 0;
  margin: 0;
}
/* page header  */

/* button one  */
.btn_one {
  background-color: var(--blue);
  border-radius: 4px;
  border: 1.5px solid var(--blue);
  outline: 1.5px solid var(--blue);
  color: var(--white);
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  cursor: pointer;
}

.btn_one:hover,
.btn_one:focus {
  color: var(--white);
  background-color: var(--blue-light-1);
  border: 1.5px solid var(--blue-light-1);
  outline: 1.5px solid var(--blue-light-1);
}
.btn_two {
  background-color: var(--blue);
  border-radius: 2px;
  border: 1.5px solid var(--blue);
  outline: 1.5px solid var(--blue);
  outline-offset: 3px;
  color: var(--white);
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  cursor: pointer;
}
.btn_two:hover,
.btn_two:focus {
  color: var(--white);
  background-color: var(--blue-light-1);
  border: 1.5px solid var(--blue-light-1);
  outline: 1.5px solid var(--blue-light-1);
}

.btn_three {
  background-color: var(--red-1);
  border: 1.5px solid var(--red-1);
  outline: 1.5px solid var(--red-1);
  outline-offset: 3px;
  color: var(--white);
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  cursor: pointer;
}

.btn_three:hover,
.btn_three:focus {
  color: var(--white);
  background-color: var(--red);
  border: 1.5px solid var(--red);
  outline: 1.5px solid var(--red);
}
/* table  */
.table tr {
  font-size: 0.9rem;
}
.table .table_del_btn {
  background-color: transparent;
  border: none;
  color: var(--danger);
  font-size: 0.9rem;
  margin: 5px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.table .table_edit_btn {
  color: var(--success);
  font-size: 0.9rem;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* sweet alert  */
.swal-modal {
  background-color: var(--white);
  box-shadow: var(--shadow-1);
}
.swal-modal .swal-icon {
  margin: 10px auto;
}

.swal-modal .swal-title {
  color: var(--blue);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 3px 0;
  padding: 3px 0;
}
.swal-modal .swal-text {
  color: var(--black);
  font-size: 1rem;
  padding: 2px 0;
}
.swal-modal .swal-button {
  padding: 4px 8px;
}

/* custom input file style  */
label input[type="file"] {
  display: none;
}
label span {
  cursor: pointer;
  background: linear-gradient(to bottom, #09f 0%, #024 100%);
  font: 13pt Tahoma;
  text-shadow: -1px -1px 0 #024;
  color: #fff;
  border: 2px solid #06e;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 1px 3px 0 #012;
}
label span:hover {
  border-color: #09f;
}
label span:active {
  background: linear-gradient(to top, #09f 0%, #024 100%);
  box-shadow: 1px 1px 0 #012;
}
/* custom input file style  */

/* products  component */
#product_component.card {
  transition: 500ms;
}
#product_component.card:hover {
  box-shadow: var(--shadow-1);
}
#product_component .discount_percentage {
  position: absolute;
  top: 3px;
  right: 3px;
}
#product_component .discount_percentage p {
  background-color: var(--red-1);
  color: var(--white);
  border-radius: 2px;
  padding: 3px;
  font-weight: 500;
  font-size: 0.7rem;
}

#product_component .card-body {
  padding: 10px;
}
#product_component a .product_name {
  font-weight: 500;
  font-size: 0.82rem;
  text-decoration: none;
  color: var(--black);
  margin: 2px 0;
}
#product_component a .card-title.product_name:hover {
  text-decoration: none !important;
}
#product_component .discount .price {
  color: var(--blue);
  font-size: 0.8rem;
  padding: 0;
  margin: 2px 0;
}
#product_component .discount .inflatedprice {
  color: var(--red-1);
  font-size: 0.8rem;
  padding: 0;
  margin: 2px 0;
  text-decoration: line-through;
}
#product_component .wish_btn {
  border: none;
  background: transparent;
  color: var(--blue-light-1);
  padding: 0;
  margin: 0;
}
#product_component .product_btn {
  border: 1.5px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  outline: 1.5px solid var(--blue);
  font-size: 0.75rem;
  box-shadow: var(--shadow-2);
  border-radius: 4px;
  transition: 500ms;
}
#product_component .product_btn:hover {
  border: 1.5px solid var(--blue-light-1);
  background-color: var(--blue-light-1);
  outline: 1.5px solid var(--blue-light-1);
}
#product_component .product_btn:disabled,
#product_component .product_btn[disabled] {
  background-color: var(--blue-light-1);
  border: 1.5px solid var(--blue-light-1);
}
@media screen and (max-width: 576px) {
  #product_component a .product_name {
    font-size: 0.78rem;
  }
}

/* product details  */
.productdetails .header {
  color: var(--blue);
  letter-spacing: 0.3px;
  font-size: 1.45rem;
  font-weight: bold;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
.productdetails .price,
.productdetails .desc {
  color: var(--black);
  font-size: 0.95rem;
}
.productreview .reviews input,
.productreview .reviews select {
  border: 1.5px solid var(--blue-light);
  outline: 1.5px solid var(--blue-light);
  padding: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  color: var(--black-1);
}

.productreview .reviews input:focus,
.productreview .reviews select:focus {
  border: 1.5px solid var(--blue-light-1);
  outline: 1.5px solid var(--blue-light-1);
}

.productreview .reviewbox span {
  color: var(--black-1);
  font-size: 0.85rem;
}

.product-contact {
  background: url("./images/bg/contact-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  padding: 1rem;
}
.product-contact .header {
  color: var(--blue);
  font-size: 1.35rem;
  font-weight: bold;
}
.product-contact .desc {
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}
.product-contact input {
  border: none;
  outline-color: transparent;
  border-bottom: 1.5px solid var(--blue);
  background-color: transparent;
  padding: 0.5rem;
  width: 70%;
  font-size: 0.9rem;
  color: var(--black);
}

.product-contact input:focus {
  border: none;
  outline: 0;
  outline-color: transparent;
  border-bottom: 1.5px solid var(--red-1);
}
/* product details  */
/* media queries  */

@media screen and (max-width: 576px) {
}
@media screen and (min-width: 576px) and (max-width: 768px) {
}
@media screen and (min-width: 768px) and (max-width: 992px) {
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
}
@media screen and (min-width: 1200px) {
}
