.hero-img img {
  border-radius: 5px;
}
div.carousel-indicators {
  bottom: -5px !important;
  margin: 5px auto;
  width: 30% !important;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
}
div.carousel-indicators button {
  width: 8px !important;
}
.carousel-control-prev span,
.carousel-control-next span {
  background-color: var(--white);
  border-radius: 50%;
  font-size: 1rem;
  color: var(--blue) !important;
  box-shadow: var(--shadow-2);
}
