.searchform {
  position: relative;
  background-color: var(--blue);
  box-shadow: var(--shadow-1);
  padding: 10px;
  border-radius: 5px;
}
.searchform p {
  color: var(--white);
  font-family: "Pacifico", cursive;
}

.searchtext {
  position: relative;
  border-radius: 5px;
  width: 100%;
  font-size: 0.85rem;
  padding: 5px 1rem;
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
  box-shadow: var(--shadow-1);
}
.searchtext:focus {
  border: 1px solid var(--red-1);
  outline: 1px solid var(--red-1);
}
.searchbutton {
  position: absolute;
  right: 3.5px;
  background-color: transparent;
  border: 0;
  right: 11px;
  padding: 3px 10px;
  color: var(--blue);
  font-size: 0.9rem;
}
.searchbutton:hover {
  color: var(--blue-light-1);
}
